.form_section{
width:80%;
height:100%;
background-color:#7D8792;
padding:20px;
margin-top:150px;
margin-left:150px;
}
.form_section .form{
    width:50%;
    height:50%;
    border:4px solid floralwhite;
    border-radius:5px;
    background-color:#C7C8CC;
    padding:50px;
    margin-left:220px;
  position: relative;
  
}
.form_section .form input[type="text"]{
    color:#D1DBD9;
    border:1px solid #F5F5F5;
    padding:10px;
    width:80%;
    margin-left:40px;
    border-radius:10px;
    outline:none;
}
.form_section .form input[type="password"]{
    color:#D1DBD9;
    border:1px solid #F5F5F5;
    padding:10px;
    width:80%;
    margin-left:40px;
    border-radius:10px;
    outline:none;
}
.form_section .form .button-style{
    width:80%;
    height:50px;
  border:1px solid #00C6FF;
    background-color:#00C6FF;
    color:white;
    outline:none;
    margin-left:40px;
    border-radius:10px;

  
}
.userimage{
    margin-left:110px;
}
.userimage img{
    width:100px;
    height:100px;
}
.button1-style{
    width:250px;
    height:50px;
    margin-left:50px;
    padding: 10px;
    background-color: #00C6FF;
    border: 1px solid #00C6FF;
    border-radius: 10px;
    color: white;
    outline:none;
    position: absolute;
    top: -15px;
}